<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="text-center">Oder List</h1>
  <p class="lead">The reason that you want to use this system to order something is because it is much easier to keep tract of your current orders.</p>
  <br>
  <h1 class="text-center">
    <%= form_for([@order, current_user.orders.build]) do |s| %>
      <%= s.submit "Create New Order", class: "btn btn-lg btn-success" %>
    <% end %>
  </h1>
</div>


<% visibility = current_user.visibility %>
<% case visibility %>
	<% when 1 %>
		<%= render "orders/user" %>
	<% when 2 %>
		<%= render "orders/owner" %>
	<% when 3 %>
		<div>Owner View</div>
		<%= render "orders/owner" %>
		<div>User View</div>
		<%= render "orders/user" %>
<% else %>

<% end %>



