<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Orders Summary</h1><br>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Unreaded Order</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |h| %>
				<% z = Order.where(:user_id => h).where("visibility = ?", 1) %>
					<tr>
						<td><%= h.name %></td>
						<td><%= z.count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Ongoing order</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |h| %>
				<% z = Order.where(:user_id => h).where("visibility = ?", 2) %>
					<tr>
						<td><%= h.name %></td>
						<td><%= z.count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Shipped Order</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |h| %>
				<% z = Order.where(:user_id => h).where("visibility = ?", 3) %>
					<tr>
						<td><%= h.name %></td>
						<td><%= z.count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>